body
{
  color: #3c4245;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1
{
  color: #66BFBF;
  font-size: 562.5%;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}
h2
{
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
h3
{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.hello
{
  font-size: 40px;
}
.sk
{
  font-size: 40px;
}
.sub-head
{
  font-size: 120%;
}
.sub-head2
{
  font-size: 1em;
}
.top-container
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 130px;
}
.middle-container
{
  margin: 100px 0;
}
.bottom-container
{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
a
{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover
{
  color: #EAF6F6;
}
.cr
{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.intro
{
  width: 30%;
  margin: auto;
  line-height: 2;
}
.my-img
{
  border-radius: 100%
}
.skills
{
  background-color: #b9ebcc;
  padding-top: 10px;
  padding-bottom: 10px;
}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: justify;
  line-height: 2;
}
.one
{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.two
{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.three
{
  width: 25%;
  float: left;
  margin-right: 30px;
}
span
{
  text-decoration: underline;
}
.bottom-cloud
{
  position: absolute;
  left: 350px;
  bottom: 300px;
}
.top-cloud
{
  position: absolute;
  right: 350px;
  top: 70px;
}
.contact
{
  width: 40%;
  line-height: 2;
  margin: 40px auto 60px auto;
}

.btn {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #FFFFFC;
  font-size: 20px;
  text-shadow: 1px 1px 1px #7CACDE;
  padding: 7px 26px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #63B8EE;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
}
.btn:hover {
  color: #FFFFFF;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
}
